﻿@if (Order is null)
{
    <p>Select an order...</p>
}
else
{
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-center flex-wrap">
                <div class="hide-on-small">
                    <h5><span class="badge text-bg-danger me-4">ID: @(Order.Id)</span></h5>
                </div>
                <div class="hide-on-small">
                    <h5><span class="badge text-bg-warning">@($"{Order.User.Address}, {Order.User.City}, {Order.User.PostCode}")</span></h5>
                </div>
            </div>
        </div>
        <ul class="d-flex flex-wrap justify-content-center">
            @foreach (OrderItem item in Order.Items)
            {
                <li class="list-group-item">
                    <div class="card-container">
                        <img src="/img/@item.Cheese.ImageUrl" class="img-thumbnail card-img-left" alt="@item.Cheese.Name" onerror="this.onerror = null; this.src='/img/no_cheese.png'">
                        <div class="card-body-flex">
                            <h5 class="card-title">@item.Cheese.Name</h5>
                            <p class="card-text">Quantity: @(item.Quantity * 100)g</p>
                            <p class="card-text">Price: @item.Cheese.Price.ToString("C") per 100g</p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
}
@code {
    [Parameter]
    public Order? Order { get; set; }
}